@import '../App.scss';

.ui {
  &.header {
    font-family: "Playfair Display", "Garamond", sans-serif !important;
    font-weight: 700;

    &.site-title {
      margin-top: 50px !important;
      font-size: 64px;
    }
  }
}

img.home-sig {
  margin-top: 20px;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
}