.navigation-background {
  height: 100% !important;  
}

.ui.centered.grid.navigation-grid {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

.navigation-card{
  margin: 0 auto !important;
}