.ui.grid.container.app-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height:100vh;
}

.ui.grid>.column.app-navigation {
  padding: 0 !important;
  background-image: url("./assets/img/coast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-y: hidden;
}